I will bet 
<select>
	<option>1</option>
	<option>2</option>
	<option>3</option>
	<option>4</option>
	<option>5</option>
</select> <span style="color:#00b2a2">$$</span> to take
70,000 steps in 7 days, starting 
<select>
	<option>today</option>
	<option>tomorrow</option>
</select>		
<br>
<br>

Charity : 
<select> 
	<option>Breast Cancer Fund</option>
	<option>Project Fit America</option>
	<option>Coalition for the Homeless</option>
</select>
<br>
<br>
{{!-- 
<div class="bet-button">
	{{#create-bet-button user=user bets=bets onClick="createBet" createBet="createBet"}}
		{{create-bet-button.body}}
	{{/create-bet-button}}
</div> --}}

{{yield}}
