@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* GLOBAL STYLES */
body, html{
	background-color: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

a {
	color: #00b2a2;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
}
.content-container{
	margin: 0 auto;
	width: 70%;
}

.bold {
	font-weight: 600;
}

.semibold {
	font-weight: 400;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* NAV BAR */

.navbar{

}

.navbar.menu {

}

.navbar .menu .links{
}

/* BET LISTING */

.bet-listing {
	width: 100%;
	/*font-size: 20px;*/
	border-left: 6px solid black;
	padding-left: 20px;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0 4px 4px -2px #cfcfcf;
	/*height: 100px;*/
	/*line-height: 100px;*/
}

.active {
	border-color: #00b2a2;
}
.active .bold {
	color: #00b2a2;
	font-weight: 500;
}

.success {
	border-color: #58a758;
	color: #cacaca;
	opacity: 0.6;
	background-color: #f0f0f0;
}

.fail {
	border-color: #e5aaaa;
	color: #cacaca;
	opacity: 0.6;
	background-color: #f0f0f0;
}


