<div class="login-container">
	<h3>
	fit<span style="color:#00b2a2">bet</span>
	</h3>
	bet on your fitness
	<br>
	<br>
	<br>

	<a class="login-link" href='https://www.fitbit.com/oauth2/authorize?client_id=227PXD&response_type=code&scope=profile activity&prompt=consent'> &#62;&#62; get started &#60;&#60;  </a>
	{{outlet}}

</div>
